[submodule "Engine/Plugins/Kingsoft/FrameCapturer"]
	path = Engine/Plugins/Kingsoft/FrameCapturer
	url = https://github.com/RealGameLab/FrameCapturer.git
[submodule "Engine/Plugins/Kingsoft/BuglyCrashReport"]
	path = Engine/Plugins/Kingsoft/BuglyCrashReport
	url = https://github.com/RealGameLab/BuglyCrashReport.git
[submodule "Engine/Plugins/Kingsoft/LogManager"]
	path = Engine/Plugins/Kingsoft/LogManager
	url = ../../jashking/LogManager.git
